body {
    background-color: #F4F4F4;
}
form {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
}
form h4 {
    color: #888;
    font-size: 35px;
    margin-bottom: 15px;
}
form input {
    margin-bottom: 10px;
    padding: 20px !important;
}
form .form-control,
form .form-control:focus {
    background-color: #E5E5E5;
}
form .submit {
    margin-bottom: 10px;
}